<a href="https://colab.research.google.com/github/MohammedZ666/Football-Match-Predict/blob/main/Predict_Football_Matches.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### import numpy
import pandas as pd
import sys
import math
import numpy as np
import os
import csv
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
DATA_PATH = '/content/'
# we create a dictionary dict_countries similar to the one we used in the scraping section
# but in this case we need to specify the names considered in the link to download the csv e.g. "SP1" (Spanish League)
dict_countries = {
    "Spanish La Liga": "SP1", "Spanish Segunda Division": "SP2", "German Bundesliga": "D1", "German Bundesliga 2": "D2",
    "Italian Serie A": "I1", "Italian Serie B": "I2", "English Premier League": "E0", "English Championship": "E1", "English League 1": "E2",
    "English League 2": "E3", "English National": "EC", "French Ligue 1": "F1", "French Ligue 2": "F2", "Dutch Eredivisie": "N1",
    "Belgian First Division A": "B1", "Portuguese Primeira Liga": "P1", "Turkish Super League": "T1", "Greek Super League": "G1",
    "Scottish Premier League": "SC0", "Scottish League1": "SC1", "Scottish League2": "SC2", "Scottish League3": "SC3"
}

# dict_historical_data contains data of the past 5 years. we'll use it to manage 2 dataframes: df_historical_data and df_profile
dict_historical_data = {}

# to download all the leagues we loop through the dictionary
for league in dict_countries:
    frames = []
    for i in range(2018,2019):
        s_year = int(str(i)[-2:])
        try:
            df = pd.read_csv("https://www.football-data.co.uk/mmz4281/"+  str(s_year)+ str(s_year + 1)[-2:].zfill(2) +"/"+dict_countries[league]+".csv", encoding='windows-1252')
        except:  # Italian Serie B (0xa0 utf-8)
            try :
                df = pd.read_csv("https://www.football-data.co.uk/mmz4281/"+  str(s_year).zfill(2) + str(s_year + 1)[-2:].zfill(2) + "/"+ dict_countries[league]+".csv",encoding ="unicode_escape", sep='delimiter')#, header=None)
            except:
                continue
        df = df.assign(season=s_year)
        frames.append(df)
    df_frames = pd.concat(frames)  
    dict_historical_data[league] = df_frames

leagues = list(dict_historical_data.keys())

eu_leagues = dict_historical_data[leagues[0]]
for l in leagues[1:]:
    df = dict_historical_data[l]
    eu_leagues = eu_leagues.append(df)
#to_keep = ['Div','Date','Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC','AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'B365>2.5', 'B365<2.5']
all_leagues = eu_leagues#[to_keep]
#all_leagues.to_csv(os.path.join(DATA_PATH,'all_leagues.csv'))
all_leagues

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,season,Referee,HFKC,AFKC
0,SP1,17/08/2018,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,1.85,2.07,2.00,1.59,4.42,5.89,18,NaN,NaN,NaN
1,SP1,17/08/2018,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,2.01,1.90,1.85,1.76,3.57,5.62,18,NaN,NaN,NaN
2,SP1,18/08/2018,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,1.91,2.00,1.95,1.10,11.85,32.17,18,NaN,NaN,NaN
3,SP1,18/08/2018,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,2.18,1.74,1.71,2.18,3.26,3.85,18,NaN,NaN,NaN
4,SP1,18/08/2018,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,1.74,2.23,2.14,2.32,3.21,3.53,18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,SC3,04/05/2019,Albion Rvs,Annan Athletic,0.0,2.0,A,0.0,0.0,D,...,1.83,1.93,1.90,4.14,4.78,1.68,18,S Brown,NaN,NaN
176,SC3,04/05/2019,Cowdenbeath,Clyde,2.0,1.0,H,1.0,0.0,H,...,1.80,2.02,1.94,8.55,5.36,1.34,18,C Steven,NaN,NaN
177,SC3,04/05/2019,Elgin,Berwick,2.0,0.0,H,0.0,0.0,D,...,1.82,1.95,1.93,1.37,5.24,7.77,18,C Fordyce,NaN,NaN
178,SC3,04/05/2019,Queens Park,Peterhead,0.0,2.0,A,0.0,2.0,A,...,1.79,2.09,1.96,5.44,3.89,1.66,18,S Reid,NaN,NaN
179,SC3,04/05/2019,Stirling,Edinburgh City,0.0,0.0,D,0.0,0.0,D,...,1.80,2.12,1.96,2.80,3.49,2.54,18,D Williams,NaN,NaN

In [ ]:
df = all_leagues[(all_leagues['Div'] == 'SP1')] # add league variable
df

# Creating Validation data

In [ ]:
from sklearn.model_selection import train_test_split
df, validation_data = train_test_split(df, test_size=0.20, stratify=df['FTR'],random_state=42)
Y_test = validation_data['FTR'].map({'H':0, 'A':1, 'D': 2})
def

Some of the dfs have missing data on the last row. We will remove these missing rows first. We will also convert the data from string to datetime object.

In [ ]:
df.dropna(subset=['Date'], axis=0, how='all', inplace=True)
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA',
       'season', 'Referee', 'HFKC', 'AFKC'],
      dtype='object')

In [ ]:
df['Date']= pd.to_datetime(df['Date'])
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,season,Referee,HFKC,AFKC
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,1.85,2.07,2.00,1.59,4.42,5.89,18,NaN,NaN,NaN
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,2.01,1.90,1.85,1.76,3.57,5.62,18,NaN,NaN,NaN
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,1.91,2.00,1.95,1.10,11.85,32.17,18,NaN,NaN,NaN
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,2.18,1.74,1.71,2.18,3.26,3.85,18,NaN,NaN,NaN
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,1.74,2.23,2.14,2.32,3.21,3.53,18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,1.87,2.04,1.99,4.34,4.10,1.81,18,NaN,NaN,NaN
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,2.60,1.60,1.53,2.17,3.08,4.15,18,NaN,NaN,NaN
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,1.74,2.20,2.13,8.01,5.13,1.40,18,NaN,NaN,NaN
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,1.98,1.92,1.88,4.96,4.55,1.65,18,NaN,NaN,NaN
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,1.91,2.01,1.98,1.33,6.38,8.09,18,NaN,NaN,NaN

In [ ]:
def get_matchweek(playing_stat):
    """
    Adds matchweek feature to dataset
    """
    j = 1
    MatchWeek = []
    for i in range(len(playing_stat)):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j += 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

df  = get_matchweek(df)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,season,Referee,HFKC,AFKC,MW
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,2.07,2.00,1.59,4.42,5.89,18,NaN,NaN,NaN,1
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,1.90,1.85,1.76,3.57,5.62,18,NaN,NaN,NaN,1
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,2.00,1.95,1.10,11.85,32.17,18,NaN,NaN,NaN,1
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,1.74,1.71,2.18,3.26,3.85,18,NaN,NaN,NaN,1
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,2.23,2.14,2.32,3.21,3.53,18,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,2.04,1.99,4.34,4.10,1.81,18,NaN,NaN,NaN,38
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,1.60,1.53,2.17,3.08,4.15,18,NaN,NaN,NaN,38
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,2.20,2.13,8.01,5.13,1.40,18,NaN,NaN,NaN,38
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,1.92,1.88,4.96,4.55,1.65,18,NaN,NaN,NaN,38
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,2.01,1.98,1.33,6.38,8.09,18,NaN,NaN,NaN,38

In [ ]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Get the number of matchweeks in the season
    mw = max(playing_stat['MW'])
    
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # build dict where value is a list of goals scored per match
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(mw)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2, mw):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Get the number of matchweeks in the season
    mw = max(playing_stat['MW'])
    
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # build dict where value is a list of goals conceded per match
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals conceded where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(mw)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(1, mw):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_goal_stats(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(len(playing_stat)):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j += 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

# Apply to each dataset
df = get_goal_stats(df)
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA',
       'season', 'Referee', 'HFKC', 'AFKC', 'MW', 'HTGS', 'ATGS', 'HTGC',
       'ATGC'],
      dtype='object')

In [ ]:
# Retrospective points
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    
def get_cumulative_points(matchres, mw):
    matchres_points = matchres.applymap(get_points)
    for i in range(2, mw+1):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points

def get_match_result(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # build dict where value is list of match results
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1, max(playing_stat['MW']+1))]).T

def get_agg_points(playing_stat):
    matchres = get_match_result(playing_stat)
    cum_pts = get_cumulative_points(matchres, max(playing_stat['MW']))
    HTP = []
    ATP = []
    j = 0
    for i in range(len(playing_stat)):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j += 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

df = get_agg_points(df)
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA',
       'season', 'Referee', 'HFKC', 'AFKC', 'MW', 'HTGS', 'ATGS', 'HTGC',
       'ATGC', 'HTP', 'ATP'],
      dtype='object')

In [ ]:
def get_form(playing_stat,num):
    form = get_match_result(playing_stat)
    form_final = form.copy()
    for i in range(num, max(playing_stat['MW'])+1):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),playing_stat.shape[0]):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]  # get past n results
        h.append(past[num-1])   # 0 index is most recent
        
        past = form.loc[at][j]  # get past n results.
        a.append(past[num-1])   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

df = add_form_df(df)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HM1,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,M,M,M,M,M,M,M,M,M
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,M,M,M,M,M,M,M,M,M
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,M,M,M,M,M,M,M,M,M
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,M,M,M,M,M,M,M,M,M
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,M,M,M,M,M,M,M,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,W,D,W,L,L,W,W,W,D,W
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,D,W,L,L,L,D,W,W,L,L
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,W,W,W,W,L,L,W,L,D,W
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,L,W,W,L,W,W,L,W,L,W
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,L,W,W,L,L,D,D,L,W,L

The function below adds previous league position as a feature. If the team has been promoted we will use 18 as a default.

To scrape this information from wikipedia uncomment the code below.

In [ ]:
# scraper = LeaguePositionScraper()
# scraper.run()
# scraper.close_driver()

In [ ]:
# standings = pd.read_csv(DATA_PATH + 'league_standings.csv')

# def get_league_pos(playing_stat, standings, year):
#     HomeTeamLP = []
#     AwayTeamLP = []
        
#     for i in range(len(playing_stat)): 
#         ht = playing_stat.iloc[i].HomeTeam
#         at = playing_stat.iloc[i].AwayTeam
#         # If team was promoted set to default pos of 18th
#         try:
#             LP = standings.loc[(standings['Team'] == ht) & (standings['Season'] == year )].Position.item()
#             HomeTeamLP.append(LP)
#         except ValueError as e:
#             HomeTeamLP.append(18)
        
#         try:
#             LP = standings.loc[(standings['Team'] == at) & (standings['Season'] == year )].Position.item()
#             AwayTeamLP.append(LP)
#         except ValueError as e:
#             AwayTeamLP.append(18)

#     playing_stat['HomeTeamLP'] = HomeTeamLP
#     playing_stat['AwayTeamLP'] = AwayTeamLP

#     return playing_stat

# playing_stats1 = get_league_pos(playing_stats1, standings, 6)
# playing_stats2 = get_league_pos(playing_stats2, standings, 7)
# playing_stats3 = get_league_pos(playing_stats3, standings, 8)
# playing_stats4 = get_league_pos(playing_stats4, standings, 9)
# playing_stats5 = get_league_pos(playing_stats5, standings, 10)
# playing_stats6 = get_league_pos(playing_stats6, standings, 11)
# playing_stats7 = get_league_pos(playing_stats7, standings, 12)
# playing_stats8 = get_league_pos(playing_stats8, standings, 13)
# playing_stats9 = get_league_pos(playing_stats9, standings, 14)
# playing_stats10 = get_league_pos(playing_stats10, standings, 15)
# playing_stats11 = get_league_pos(playing_stats11, standings, 16)
# playing_stats12 = get_league_pos(playing_stats12, standings, 17)
# playing_stats13 = get_league_pos(playing_stats13, standings, 17)

In [ ]:
# Concatenate seasons and add gameId so we can index data easier
# playing_stats = (pd.concat([playing_stats1,
#                           playing_stats2,
#                           playing_stats3,
#                           playing_stats4,
#                           playing_stats5,
#                           playing_stats6,
#                           playing_stats7,
#                           playing_stats8,
#                           playing_stats9,
#                           playing_stats10,
#                           playing_stats11,
#                           playing_stats12,
#                           playing_stats13], ignore_index=True)
#                          .assign(gameId=lambda df: list(df.index + 1))
#                          .sort_values('gameId'))
df = df.assign(gameId=lambda df: list(df.index + 1)).sort_values('gameId')
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,gameId
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,M,M,M,M,M,M,M,M,1
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,M,M,M,M,M,M,M,M,2
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,M,M,M,M,M,M,M,M,3
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,M,M,M,M,M,M,M,M,4
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,M,M,M,M,M,M,M,M,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,D,W,L,L,W,W,W,D,W,376
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,W,L,L,L,D,W,W,L,L,377
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,W,W,W,L,L,W,L,D,W,378
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,W,W,L,W,W,L,W,L,W,379
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,W,W,L,L,D,D,L,W,L,380

In [ ]:
# Gets the form points.
def get_form_points(string):
    total = 0
    for letter in string:
        total += get_points(letter)
    return total

df['HTFormPtsStr'] = df['HM1'] + df['HM2'] + df['HM3'] + df['HM4'] + df['HM5']
df['ATFormPtsStr'] = df['AM1'] + df['AM2'] + df['AM3'] + df['AM4'] +df['AM5']

df['HTFormPts'] = df['HTFormPtsStr'].apply(get_form_points)
df['ATFormPts'] = df['ATFormPtsStr'].apply(get_form_points)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AM3,HM4,AM4,HM5,AM5,gameId,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,M,M,M,M,1,MMMMM,MMMMM,0,0
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,M,M,M,M,2,MMMMM,MMMMM,0,0
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,M,M,M,M,3,MMMMM,MMMMM,0,0
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,M,M,M,M,4,MMMMM,MMMMM,0,0
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,M,M,M,M,5,MMMMM,MMMMM,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,W,W,W,D,W,376,WWLWD,DLWWW,10,10
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,D,W,W,L,L,377,DLLWL,WLDWL,4,7
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,L,W,L,D,W,378,WWLWD,WWLLW,10,9
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,W,L,W,L,W,379,LWWLL,WLWWW,6,12
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,D,D,L,W,L,380,LWLDW,WLDLL,7,4

In [ ]:
# Get doal difference
df['HTGD'] = df['HTGS'] - df['HTGC']
df['ATGD'] = df['ATGS'] - df['ATGC']

# Diff in points
df['DiffPts'] = df['HTP'] - df['ATP']

# Difference in form points, last 5 games
df['DiffFormPts'] = df['HTFormPts'] - df['ATFormPts']

# Uncomment this line to create unscaled df for predictions
# this_season = playing_stats.loc[playing_stats['season'] == 1920]
# this_season.to_csv(os.path.join(DATA_PATH, 'season1920_data.csv'))

# Diff in last years league positions
# playing_stats['DiffLP'] = playing_stats['HomeTeamLP'] - playing_stats['AwayTeamLP']
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AM5,gameId,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts,HTGD,ATGD,DiffPts,DiffFormPts
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,1,MMMMM,MMMMM,0,0,0.0,0.0,0,0
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,2,MMMMM,MMMMM,0,0,0.0,0.0,0,0
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,3,MMMMM,MMMMM,0,0,0.0,0.0,0,0
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,4,MMMMM,MMMMM,0,0,0.0,0.0,0,0
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,5,MMMMM,MMMMM,0,0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,W,376,WWLWD,DLWWW,10,10,-10.0,26.0,-32,0
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,L,377,DLLWL,WLDWL,4,7,12.0,-5.0,3,-3
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,W,378,WWLWD,WWLLW,10,9,-19.0,16.0,-17,1
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,W,379,LWWLL,WLWWW,6,12,-3.0,51.0,-40,-6
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,L,380,LWLDW,WLDLL,7,4,15.0,-5.0,21,3

In [ ]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP']
df.MW = df.MW.astype(float)

for col in cols:
    df[col] = df[col] /df.MW
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AM5,gameId,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts,HTGD,ATGD,DiffPts,DiffFormPts
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,1,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,2,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,3,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,4,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,5,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,W,376,WWLWD,DLWWW,10,10,-0.263158,0.684211,-0.842105,0.000000
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,L,377,DLLWL,WLDWL,4,7,0.315789,-0.131579,0.078947,-0.078947
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,W,378,WWLWD,WWLLW,10,9,-0.500000,0.421053,-0.447368,0.026316
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,W,379,LWWLL,WLWWW,6,12,-0.078947,1.342105,-1.052632,-0.157895
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,L,380,LWLDW,WLDLL,7,4,0.394737,-0.131579,0.552632,0.078947

# Create EMA dataset

We will now create a dataset of exponential moving-averages(EMA). To do this we first need to split the data so that each team is on a seperate row, instead of a match per row. This will make it easier to get the moving average. We then reassemble the data back to a match per row.

In [ ]:
# Run this once to concatenate all seasons together
# df1 = pd.read_csv(os.path.join(DATA_PATH, 'season0708.csv'))
# df2 = pd.read_csv(os.path.join(DATA_PATH, 'season0809.csv'))
# df3 = pd.read_csv(os.path.join(DATA_PATH, 'season0910.csv'))
# df4 = pd.read_csv(os.path.join(DATA_PATH, 'season1011.csv'))
# df5 = pd.read_csv(os.path.join(DATA_PATH, 'season1112.csv'))
# df6 = pd.read_csv(os.path.join(DATA_PATH, 'season1213.csv'))
# df7 = pd.read_csv(os.path.join(DATA_PATH, 'season1314.csv'))
# df8 = pd.read_csv(os.path.join(DATA_PATH, 'season1415.csv'))
# df9 = pd.read_csv(os.path.join(DATA_PATH, 'season1516.csv'))
# df10 = pd.read_csv(os.path.join(DATA_PATH, 'season1617.csv'))
# df11 = pd.read_csv(os.path.join(DATA_PATH, 'season1718.csv'))
# df12 = pd.read_csv(os.path.join(DATA_PATH, 'season1819.csv'))
# df13 = pd.read_csv(os.path.join(DATA_PATH, 'season1920.csv'))

# df = pd.concat([df1, df2, df3, df4, df5, df6, df7,
#                 df8, df9, df10, df11, df12, df13],
#                ignore_index=True, sort=False)
# df.to_csv(os.path.join(DATA_PATH, 'all_seasons_joined.csv'))

In [ ]:
def create_df(df):
    """
    Function to convert date to datetime and sort by gameId
    """
    df = (df
         .assign(Date=lambda df: pd.to_datetime(df.Date))
         .pipe(lambda df: df.dropna(thresh=len(df) - 2, axis=1))  # Drop cols with NAs
         .dropna(axis=0)  # Drop rows with NAs
         .rename(columns={'Unnamed: 0': 'gameId'})
         .sort_values('gameId')
         .reset_index(drop=True)
         )
    return df

df = create_df(df)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AM5,gameId,HTFormPtsStr,ATFormPtsStr,HTFormPts,ATFormPts,HTGD,ATGD,DiffPts,DiffFormPts
0,SP1,2018-08-17,Betis,Levante,0.0,3.0,A,0.0,1.0,A,...,M,1,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
1,SP1,2018-08-17,Girona,Valladolid,0.0,0.0,D,0.0,0.0,D,...,M,2,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
2,SP1,2018-08-18,Barcelona,Alaves,3.0,0.0,H,0.0,0.0,D,...,M,3,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
3,SP1,2018-08-18,Celta,Espanol,1.0,1.0,D,0.0,1.0,A,...,M,4,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
4,SP1,2018-08-18,Villarreal,Sociedad,1.0,2.0,A,1.0,1.0,D,...,M,5,MMMMM,MMMMM,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2019-05-18,Levante,Ath Madrid,2.0,2.0,D,2.0,0.0,H,...,W,376,WWLWD,DLWWW,10,10,-0.263158,0.684211,-0.842105,0.000000
376,SP1,2019-05-18,Sevilla,Ath Bilbao,2.0,0.0,H,1.0,0.0,H,...,L,377,DLLWL,WLDWL,4,7,0.315789,-0.131579,0.078947,-0.078947
377,SP1,2019-05-18,Valladolid,Valencia,0.0,2.0,A,0.0,1.0,A,...,W,378,WWLWD,WWLLW,10,9,-0.500000,0.421053,-0.447368,0.026316
378,SP1,2019-05-19,Eibar,Barcelona,2.0,2.0,D,2.0,2.0,D,...,W,379,LWWLL,WLWWW,6,12,-0.078947,1.342105,-1.052632,-0.157895
379,SP1,2019-05-19,Real Madrid,Betis,0.0,2.0,A,0.0,0.0,D,...,L,380,LWLDW,WLDLL,7,4,0.394737,-0.131579,0.552632,0.078947

In [ ]:
#df = df.drop(['FTHG', 'FTAG', 'HomeTeamLP', 'AwayTeamLP'], 1)
#df = df.drop(['FTHG', 'FTAG'], 1)
# Rearranging columns
cols = ['Date', 'season', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 
        'HTGC', 'ATGC', 'HTP', 'ATP', 'B365H', 'B365D', 
        'B365A', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5', 'gameId']

league_data = df[cols]
league_data.to_csv(os.path.join(DATA_PATH, 'league_data.csv'))

In [ ]:
def create_multiline_df_stats(old_stats_df):
    # Create a list of columns we want and their mappings to more interpretable names
    home_stats_cols = ['Date', 'season', 'HomeTeam', 'FTHG', 'FTAG', 'HTHG', 'HTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
                       'HR', 'AR']
    
    away_stats_cols = ['Date', 'season', 'AwayTeam', 'FTAG', 'FTHG', 'HTAG', 'HTHG', 'AS', 'HS', 'AST', 'HST', 'AF', 'HF', 'AC', 'HC', 'AY', 'HY',
                       'AR', 'HR']
    
    stats_cols_mapping = ['Date', 'season', 'Team', 'goalsFor', 'goalsAgainst', 'halfTimeGoalsFor', 'halfTimeGoalsAgainst', 'shotsFor',
                          'shotsAgainst', 'shotsOnTargetFor', 'shotsOnTargetAgainst', 'freesFor', 'freesAgainst', 
                          'cornersFor', 'cornersAgainst', 'yellowsFor', 'yellowsAgainst', 'redsFor', 'redsAgainst']
    
    # Create a dictionary of the old column names to new column names
    home_mapping = {old_col: new_col for old_col, new_col in zip(home_stats_cols, stats_cols_mapping)}
    away_mapping = {old_col: new_col for old_col, new_col in zip(away_stats_cols, stats_cols_mapping)}
    
    # Put each team onto an individual row
    multi_line_stats = (old_stats_df[['gameId'] + home_stats_cols] # Filter for only the home team columns
                    .rename(columns=home_mapping) # Rename the columns
                    .assign(homeGame=1) # Assign homeGame=1 so that we can use a general function later
                    .append((old_stats_df[['gameId'] + away_stats_cols]) # Append the away team columns
                            .rename(columns=away_mapping) # Rename the away team columns
                            .assign(homeGame=0), sort=True)
                    .sort_values(by='gameId') # Sort the values
                    .reset_index(drop=True))
    return multi_line_stats
def create_stats_features_ema(stats, span):
    # Create a restructured DataFrames so that we can calculate EMA
    multi_line_stats = create_multiline_df_stats(stats)
    
    # Create a copy of the DataFrame
    ema_features = multi_line_stats[['Date', 'season', 'gameId', 'Team', 'homeGame']].copy()
    
    # Get the columns that we want to create EMA for
    feature_names = multi_line_stats.drop(columns=['Date', 'season', 'gameId', 'Team', 'homeGame']).columns
    
    # Loop over the features
    for feature_name in feature_names:
        feature_ema = (multi_line_stats.groupby('Team')[feature_name] # Calculate the EMA
                                                  .transform(lambda row: row.ewm(span=span, min_periods=2)
                                                             .mean()
                                                             .shift(1))) # Shift the data down 1 so we don't leak data
        ema_features[feature_name] = feature_ema # Add the new feature to the DataFrame
    return ema_features

# Add weighted average to each row with a span of 50.
df = create_stats_features_ema(df, 50)
df

,Date,season,gameId,Team,homeGame,cornersAgainst,cornersFor,freesAgainst,freesFor,goalsAgainst,...,halfTimeGoalsAgainst,halfTimeGoalsFor,redsAgainst,redsFor,shotsAgainst,shotsFor,shotsOnTargetAgainst,shotsOnTargetFor,yellowsAgainst,yellowsFor
0,2018-08-17,18,1,Betis,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-08-17,18,1,Levante,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-08-17,18,2,Valladolid,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-17,18,2,Girona,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-08-18,18,3,Barcelona,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2019-05-18,18,378,Valladolid,1,5.189072,4.934011,15.153808,13.962085,1.369358,...,0.532513,0.355619,0.135731,0.000000,12.767236,10.628360,3.822837,3.591542,2.969715,2.675728
756,2019-05-19,18,379,Barcelona,0,4.161218,5.236383,14.720601,11.326884,0.840580,...,0.354920,0.864681,0.155990,0.032789,10.657120,14.644059,3.154194,6.561570,2.658750,2.148354
757,2019-05-19,18,379,Eibar,1,4.264719,5.703944,11.397059,13.840482,1.220653,...,0.477223,0.363610,0.046941,0.036618,8.936050,13.182130,3.401865,3.837153,2.060273,2.137396
758,2019-05-19,18,380,Real Madrid,1,4.132508,5.980259,14.753053,11.798190,1.201641,...,0.642419,0.650883,0.079088,0.196908,10.352490,15.368650,3.695902,5.674691,2.318587,2.212941
759,2019-05-19,18,380,Betis,0,5.045033,5.051009,15.115691,11.666088,1.515377,...,0.791768,0.298272,0.203485,0.028999,11.133239,11.905209,4.196298,4.534093,3.117581,2.542997

The span parameter controls the decay for EMA. I tried various settings and found 50 to be the most useful.

Now that we have added the EMA stats we can restructure the dataset back to having a match on each row. We then save it as a csv file.

In [ ]:
def restructure_stats_features(stats_features):
    non_features = ['homeGame', 'Team', 'gameId']

    stats_features_restructured = (stats_features.query('homeGame == 1')
                                    .rename(columns={col: 'f_' + col + 'Home' for col in stats_features.columns if col not in non_features})
                                    .rename(columns={'Team': 'HomeTeam'})
                                    .pipe(pd.merge, (stats_features.query('homeGame == 0')
                                                        .rename(columns={'Team': 'AwayTeam'})
                                                        .rename(columns={col: 'f_' + col + 'Away' for col in stats_features.columns 
                                                                         if col not in non_features})), on=['gameId'])
                                    .dropna())
    return stats_features_restructured

df = restructure_stats_features(df)
df.head()

,f_DateHome,f_seasonHome,gameId,HomeTeam,homeGame_x,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,...,f_halfTimeGoalsAgainstAway,f_halfTimeGoalsForAway,f_redsAgainstAway,f_redsForAway,f_shotsAgainstAway,f_shotsForAway,f_shotsOnTargetAgainstAway,f_shotsOnTargetForAway,f_yellowsAgainstAway,f_yellowsForAway
20,2018-08-31,18,21,Eibar,1,2.55,5.98,13.51,11.49,2.00,...,0.49,1.51,0.0,0.0,17.02,7.49,5.98,5.02,1.49,2.49
21,2018-08-31,18,22,Getafe,1,4.02,2.55,11.00,20.37,0.98,...,0.00,0.00,0.0,0.0,11.47,4.55,3.04,2.53,1.00,1.00
22,2018-08-31,18,23,Villarreal,1,4.98,4.51,11.53,14.98,0.98,...,0.51,0.51,0.0,0.0,11.18,11.47,4.57,3.04,2.02,1.51
23,2018-01-09,18,24,Celta,1,7.00,7.49,14.00,10.45,1.00,...,0.00,0.49,0.0,0.0,13.00,9.00,3.49,2.49,1.49,1.98
24,2018-01-09,18,25,Real Madrid,1,2.04,5.04,19.86,11.00,0.51,...,1.51,0.49,0.0,0.0,11.90,15.06,5.51,3.53,2.98,2.96

In [ ]:
df.to_csv(os.path.join(DATA_PATH, 'EMA_data.csv'))
df

,f_DateHome,f_seasonHome,gameId,HomeTeam,homeGame_x,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,...,f_halfTimeGoalsAgainstAway,f_halfTimeGoalsForAway,f_redsAgainstAway,f_redsForAway,f_shotsAgainstAway,f_shotsForAway,f_shotsOnTargetAgainstAway,f_shotsOnTargetForAway,f_yellowsAgainstAway,f_yellowsForAway
20,2018-08-31,18,21,Eibar,1,2.550000,5.980000,13.510000,11.490000,2.000000,...,0.490000,1.510000,0.000000,0.000000,17.020000,7.490000,5.980000,5.020000,1.490000,2.490000
21,2018-08-31,18,22,Getafe,1,4.020000,2.550000,11.000000,20.370000,0.980000,...,0.000000,0.000000,0.000000,0.000000,11.470000,4.550000,3.040000,2.530000,1.000000,1.000000
22,2018-08-31,18,23,Villarreal,1,4.980000,4.510000,11.530000,14.980000,0.980000,...,0.510000,0.510000,0.000000,0.000000,11.180000,11.470000,4.570000,3.040000,2.020000,1.510000
23,2018-01-09,18,24,Celta,1,7.000000,7.490000,14.000000,10.450000,1.000000,...,0.000000,0.490000,0.000000,0.000000,13.000000,9.000000,3.490000,2.490000,1.490000,1.980000
24,2018-01-09,18,25,Real Madrid,1,2.040000,5.040000,19.860000,11.000000,0.510000,...,1.510000,0.490000,0.000000,0.000000,11.900000,15.060000,5.510000,3.530000,2.980000,2.960000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-18,18,376,Levante,1,5.268989,5.405402,13.715884,13.530896,1.682414,...,0.214453,0.592237,0.086326,0.114660,11.462360,11.482560,3.751350,4.121874,2.537820,2.732860
376,2019-05-18,18,377,Sevilla,1,4.524394,6.053360,13.247928,13.999809,1.331749,...,0.385539,0.664604,0.079937,0.108233,9.793990,9.897033,2.918660,3.702766,2.782250,3.070199
377,2019-05-18,18,378,Valladolid,1,5.189072,4.934011,15.153808,13.962085,1.369358,...,0.345058,0.845297,0.081323,0.091408,13.098388,12.064360,4.081129,4.245270,3.068088,2.254548
378,2019-05-19,18,379,Eibar,1,4.264719,5.703944,11.397059,13.840482,1.220653,...,0.354920,0.864681,0.155990,0.032789,10.657120,14.644059,3.154194,6.561570,2.658750,2.148354
379,2019-05-19,18,380,Real Madrid,1,4.132508,5.980259,14.753053,11.798190,1.201641,...,0.791768,0.298272,0.203485,0.028999,11.133239,11.905209,4.196298,4.534093,3.117581,2.542997

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import os
import random
import warnings
warnings.filterwarnings('ignore')

# Set random seed for reproducibility
np.random.seed(42)
random.seed(42)
os.environ['PYTHONHASHSEED'] = str(42)

from keras import backend as K
config = tf.compat.v1.ConfigProto(intra_op_parallelism_threads=1,inter_op_parallelism_threads=1)
tf.random.set_seed(42)
sess = tf.compat.v1.Session(config=config)
K.set_session(sess)

import keras
from keras.layers import Dense, Dropout, BatchNormalization
from keras.callbacks import EarlyStopping

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

# Prepare the data

We first need to load both our league-data and EMA data and combine these together.

In [ ]:
league_data = pd.read_csv(os.path.join(DATA_PATH,'league_data.csv'))
league_data.drop(['Unnamed: 0', 'Date',  
                 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HM1', 'HM2', 'HM3', 
                 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5'], 1, inplace=True)
league_data

,season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTP,ATP,B365H,B365D,B365A,gameId
0,18,Betis,Levante,0.0,3.0,A,0.000000,0.000000,1.66,4.00,5.00,1
1,18,Girona,Valladolid,0.0,0.0,D,0.000000,0.000000,1.75,3.60,5.00,2
2,18,Barcelona,Alaves,3.0,0.0,H,0.000000,0.000000,1.11,10.00,21.00,3
3,18,Celta,Espanol,1.0,1.0,D,0.000000,0.000000,1.85,3.50,4.50,4
4,18,Villarreal,Sociedad,1.0,2.0,A,0.000000,0.000000,2.04,3.40,3.80,5
...,...,...,...,...,...,...,...,...,...,...,...,...
375,18,Levante,Ath Madrid,2.0,2.0,D,1.131579,1.973684,3.75,3.75,1.95,376
376,18,Sevilla,Ath Bilbao,2.0,0.0,H,1.473684,1.394737,1.85,3.40,4.33,377
377,18,Valladolid,Valencia,0.0,2.0,A,1.078947,1.526316,8.00,5.25,1.36,378
378,18,Eibar,Barcelona,2.0,2.0,D,1.210526,2.263158,3.60,4.00,1.90,379
379,18,Real Madrid,Betis,0.0,2.0,A,1.789474,1.236842,1.57,4.75,4.75,380

In [ ]:
EMA_data = pd.read_csv(os.path.join(DATA_PATH,'EMA_data.csv'))
EMA_data.drop(['Unnamed: 0', 'f_DateHome', 'f_seasonHome', 
               'homeGame_x', 'f_yellowsAgainstAway', 'f_yellowsForAway',
               'f_yellowsAgainstHome', 'f_yellowsForHome', 'f_DateAway', 'f_seasonAway', 
              'homeGame_y'], 1, inplace=True)
l = list(EMA_data['gameId'])
league_data = league_data[league_data['gameId'].isin(l)]
EMA_data = EMA_data.set_index('gameId')
league_data = league_data.set_index('gameId')
EMA_data.head()

,HomeTeam,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,f_goalsForHome,f_halfTimeGoalsAgainstHome,f_halfTimeGoalsForHome,f_redsAgainstHome,...,f_goalsAgainstAway,f_goalsForAway,f_halfTimeGoalsAgainstAway,f_halfTimeGoalsForAway,f_redsAgainstAway,f_redsForAway,f_shotsAgainstAway,f_shotsForAway,f_shotsOnTargetAgainstAway,f_shotsOnTargetForAway
gameId,,,,,,,,,,,,,,,,,,,,,
21,Eibar,2.55,5.98,13.51,11.49,2.00,0.49,1.49,0.00,0.0,...,1.51,2.00,0.49,1.51,0.0,0.0,17.02,7.49,5.98,5.02
22,Getafe,4.02,2.55,11.00,20.37,0.98,1.02,0.49,0.51,0.0,...,0.51,0.00,0.00,0.00,0.0,0.0,11.47,4.55,3.04,2.53
23,Villarreal,4.98,4.51,11.53,14.98,0.98,0.49,0.49,0.49,0.0,...,2.04,0.51,0.51,0.51,0.0,0.0,11.18,11.47,4.57,3.04
24,Celta,7.00,7.49,14.00,10.45,1.00,1.51,0.49,1.02,0.0,...,0.49,1.00,0.00,0.49,0.0,0.0,13.00,9.00,3.49,2.49
25,Real Madrid,2.04,5.04,19.86,11.00,0.51,3.02,0.51,1.00,0.0,...,2.00,1.51,1.51,0.49,0.0,0.0,11.90,15.06,5.51,3.53

In [ ]:
league_data

,season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTP,ATP,B365H,B365D,B365A
gameId,,,,,,,,,,,
21,18,Eibar,Sociedad,2.0,1.0,H,0.000000,1.333333,2.75,3.25,2.62
22,18,Getafe,Valladolid,0.0,0.0,D,1.000000,0.333333,1.90,3.20,4.75
23,18,Villarreal,Girona,0.0,1.0,A,0.333333,0.333333,1.57,4.00,6.00
24,18,Celta,Ath Madrid,2.0,0.0,H,1.333333,1.333333,5.50,3.40,1.75
25,18,Real Madrid,Leganes,4.0,1.0,H,2.000000,0.333333,1.12,9.00,21.00
...,...,...,...,...,...,...,...,...,...,...,...
376,18,Levante,Ath Madrid,2.0,2.0,D,1.131579,1.973684,3.75,3.75,1.95
377,18,Sevilla,Ath Bilbao,2.0,0.0,H,1.473684,1.394737,1.85,3.40,4.33
378,18,Valladolid,Valencia,0.0,2.0,A,1.078947,1.526316,8.00,5.25,1.36
379,18,Eibar,Barcelona,2.0,2.0,D,1.210526,2.263158,3.60,4.00,1.90
380,18,Real Madrid,Betis,0.0,2.0,A,1.789474,1.236842,1.57,4.75,4.75

In [ ]:
df = pd.concat([EMA_data, league_data], axis = 1).dropna(axis=0)
df.to_csv(os.path.join(DATA_PATH,'test.csv'))
league_data = league_data[league_data.columns.difference(['HomeTeam', 'AwayTeam', 'gameId'])]
df = pd.concat([EMA_data, league_data], axis = 1).dropna(axis=0)
df = df.reset_index()
df

,gameId,HomeTeam,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,f_goalsForHome,f_halfTimeGoalsAgainstHome,f_halfTimeGoalsForHome,...,f_shotsOnTargetForAway,ATP,B365A,B365D,B365H,FTAG,FTHG,FTR,HTP,season
0,21,Eibar,2.550000,5.980000,13.510000,11.490000,2.000000,0.490000,1.490000,0.000000,...,5.020000,1.333333,2.62,3.25,2.75,1.0,2.0,H,0.000000,18
1,22,Getafe,4.020000,2.550000,11.000000,20.370000,0.980000,1.020000,0.490000,0.510000,...,2.530000,0.333333,4.75,3.20,1.90,0.0,0.0,D,1.000000,18
2,23,Villarreal,4.980000,4.510000,11.530000,14.980000,0.980000,0.490000,0.490000,0.490000,...,3.040000,0.333333,6.00,4.00,1.57,1.0,0.0,A,0.333333,18
3,24,Celta,7.000000,7.490000,14.000000,10.450000,1.000000,1.510000,0.490000,1.020000,...,2.490000,1.333333,1.75,3.40,5.50,0.0,2.0,H,1.333333,18
4,25,Real Madrid,2.040000,5.040000,19.860000,11.000000,0.510000,3.020000,0.510000,1.000000,...,3.530000,0.333333,21.00,9.00,1.12,1.0,4.0,H,2.000000,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,376,Levante,5.268989,5.405402,13.715884,13.530896,1.682414,1.596584,0.567649,0.620965,...,4.121874,1.973684,1.95,3.75,3.75,2.0,2.0,D,1.131579,18
356,377,Sevilla,4.524394,6.053360,13.247928,13.999809,1.331749,1.560783,0.643754,0.372492,...,3.702766,1.394737,4.33,3.40,1.85,0.0,2.0,H,1.473684,18
357,378,Valladolid,5.189072,4.934011,15.153808,13.962085,1.369358,0.903631,0.532513,0.355619,...,4.245270,1.526316,1.36,5.25,8.00,2.0,0.0,A,1.078947,18
358,379,Eibar,4.264719,5.703944,11.397059,13.840482,1.220653,1.130907,0.477223,0.363610,...,6.561570,2.263158,1.90,4.00,3.60,2.0,2.0,D,1.210526,18
359,380,Real Madrid,4.132508,5.980259,14.753053,11.798190,1.201641,1.703145,0.642419,0.650883,...,4.534093,1.236842,4.75,4.75,1.57,2.0,0.0,A,1.789474,18

# Average

In [ ]:
cols_drop = ['HomeTeam','AwayTeam', 'B365H', 'B365D', 'B365A', 'FTR', 'season', 'gameId' ]
mean_data = {}
for i, row in df.iterrows():
  team_pair = "{}_{}".format(row['HomeTeam'],row['AwayTeam'])
  row = row.drop(cols_drop)
  if team_pair in mean_data.keys():
    for key in row.keys():
      mean_data[team_pair][key].append(row[key])
  else:
    mean_data[team_pair] = {}
    for key in row.keys():
      mean_data[team_pair][key]=[row[key]]

for team_pair in mean_data.keys():
  for feature in mean_data[team_pair].keys():
    mean_data[team_pair][feature] = sum(mean_data[team_pair][feature])/len(mean_data[team_pair][feature])


for i, row in df.iterrows():
  team_pair = "{}_{}".format(row['HomeTeam'],row['AwayTeam'])
  row = row.drop(cols_drop)
  for key in row.keys():
    df[key].iloc[i] = mean_data[team_pair][key]

# One hot encoding the team data

In [ ]:
def encode_and_bind(df, feature_to_encode):
    dummies = pd.get_dummies(df[feature_to_encode], dtype=bool)
    df = df.drop(columns = feature_to_encode, axis=1)
    df = pd.concat([df, dummies], axis=1)
    return (df)
df = encode_and_bind(df, ['HomeTeam', 'AwayTeam'])
df.to_csv('test.csv')

# Cleaning and splitting the data

Because the machine -learning model only takes numeric input we will change our labels from strings to integers and use categorical cross-entropy as our loss function. We will also scale our data using sklearn StandardScaler.

First we will seperate the labels from the rest of our data and split into training and testing.

In [ ]:
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
#training_data = df.loc[df['season'] != 1920].reset_index(drop=True)
#testing_data = df.loc[df['season'] == 708].reset_index(drop=True)

training_data, testing_data = train_test_split(df, test_size=0.20, stratify=df['FTR'],random_state=42)
training_data = training_data.reset_index(drop=True)
testing_data = testing_data.reset_index(drop=True)

X_train = training_data.drop([ 'FTR', 'season', 'gameId' ], 1)
Y_train = training_data['FTR']

X_test = testing_data.drop(['FTR', 'season', 'gameId' ], 1)
Y_test = testing_data['FTR']
all_cols = X_train.columns 
all_cols

Index(['f_cornersAgainstHome', 'f_cornersForHome', 'f_freesAgainstHome',
       'f_freesForHome', 'f_goalsAgainstHome', 'f_goalsForHome',
       'f_halfTimeGoalsAgainstHome', 'f_halfTimeGoalsForHome',
       'f_redsAgainstHome', 'f_redsForHome', 'f_shotsAgainstHome',
       'f_shotsForHome', 'f_shotsOnTargetAgainstHome',
       'f_shotsOnTargetForHome', 'f_cornersAgainstAway', 'f_cornersForAway',
       'f_freesAgainstAway', 'f_freesForAway', 'f_goalsAgainstAway',
       'f_goalsForAway', 'f_halfTimeGoalsAgainstAway',
       'f_halfTimeGoalsForAway', 'f_redsAgainstAway', 'f_redsForAway',
       'f_shotsAgainstAway', 'f_shotsForAway', 'f_shotsOnTargetAgainstAway',
       'f_shotsOnTargetForAway', 'ATP', 'B365A', 'B365D', 'B365H', 'FTAG',
       'FTHG', 'HTP', 'HomeTeam_Alaves', 'HomeTeam_Ath Bilbao',
       'HomeTeam_Ath Madrid', 'HomeTeam_Barcelona', 'HomeTeam_Betis',
       'HomeTeam_Celta', 'HomeTeam_Eibar', 'HomeTeam_Espanol',
       'HomeTeam_Getafe', 'HomeTeam_Girona', 'HomeTeam_Huesca',
       'HomeTeam_Leganes', 'HomeTeam_Levante', 'HomeTeam_Real Madrid',
       'HomeTeam_Sevilla', 'HomeTeam_Sociedad', 'HomeTeam_Valencia',
       'HomeTeam_Valladolid', 'HomeTeam_Vallecano', 'HomeTeam_Villarreal',
       'AwayTeam_Alaves', 'AwayTeam_Ath Bilbao', 'AwayTeam_Ath Madrid',
       'AwayTeam_Barcelona', 'AwayTeam_Betis', 'AwayTeam_Celta',
       'AwayTeam_Eibar', 'AwayTeam_Espanol', 'AwayTeam_Getafe',
       'AwayTeam_Girona', 'AwayTeam_Huesca', 'AwayTeam_Leganes',
       'AwayTeam_Levante', 'AwayTeam_Real Madrid', 'AwayTeam_Sevilla',
       'AwayTeam_Sociedad', 'AwayTeam_Valencia', 'AwayTeam_Valladolid',
       'AwayTeam_Vallecano', 'AwayTeam_Villarreal'],
      dtype='object')

In [ ]:
def transform_results(results):
    transformed = []
    for i in range(len(results)):
        if results[i] == 'H':
            transformed.append(0)
        elif results[i] == 'A':
            transformed.append(2)
        else:
            transformed.append(1)
    return np.array(transformed)
            
Y_train = transform_results(Y_train)
Y_test = transform_results(Y_test)

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
print('Number of matches in training data:', X_train.shape[0])
print('Number of matches in test data:', X_test.shape[0])
print('Number of features:', X_train.shape[1])

Number of matches in training data: 288
Number of matches in test data: 72
Number of features: 75

# Build the model

Now we have cleaned the data we can now create our model and train it.

In [ ]:
# input dimension is number of features
input_dim = X_train.shape[1]

activation_func = 'relu'
kernel_init = 'glorot_normal'
learning_rate = 0.001
batch_size = 16

model = keras.Sequential([
    Dense(48, input_shape=(input_dim,), activation=activation_func),
    Dropout(0.3),
    Dense(16),
    Dropout(0.2),
    Dense(8),
    Dense(3, activation='softmax')
])
from tensorflow.keras.optimizers import Adam, SGD
opt = Adam(lr=learning_rate, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
es = EarlyStopping(monitor='loss', patience=3, verbose=1)
model.compile(optimizer=opt, loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train, Y_train, batch_size=batch_size, 
              callbacks=[es], epochs=500, verbose=0)
train_loss, train_acc = model.evaluate(X_train, Y_train)
val_loss, val_acc = model.evaluate(X_test, Y_test)
print('Training loss:', train_loss)
print('Training accuracy:', train_acc)
print('Validation loss:', val_loss)
print('Validation accuracy:', val_acc)

Epoch 27: early stopping
9/9 [==============================] - 0s 2ms/step - loss: 0.1414 - accuracy: 0.9965
3/3 [==============================] - 0s 5ms/step - loss: 0.6567 - accuracy: 0.6806
Training loss: 0.14139960706233978
Training accuracy: 0.9965277910232544
Validation loss: 0.6566838622093201
Validation accuracy: 0.6805555820465088

We are getting around 65% on training and 62% on validation. This is good as is well above the bookies accuracy. Once we are happy with how the model is performing we can check the accuracy on the test set. 

First let's get a more detailed breakdown of the model's accuracy by using classification report. This will show how we perform for each label.

In [ ]:
labels = ['Home', 'Draw', 'Away']
y_preds = model.predict(X_test)
y_pred_argmax = [np.argmax(i) for i in y_preds]
print(classification_report(Y_test, y_pred_argmax, target_names=labels))
print(confusion_matrix(Y_test, y_pred_argmax))

              precision    recall  f1-score   support

        Home       0.88      0.88      0.88        32
        Draw       0.45      0.48      0.47        21
        Away       0.61      0.58      0.59        19

    accuracy                           0.68        72
   macro avg       0.65      0.64      0.64        72
weighted avg       0.68      0.68      0.68        72

[[28  4  0]
 [ 4 10  7]
 [ 0  8 11]]

In [ ]:
# Saving best model
model.save('25Nov19.h5')

# Check test accuracy

Once we have our model performing well we will use our 'holdout' test-set, season 19/20 so far

In [ ]:
test_loss, test_acc = model.evaluate(X_test, Y_test)
print('Test loss:', test_loss)
print('Test accuracy:', test_acc)

3/3 [==============================] - 0s 4ms/step - loss: 0.6567 - accuracy: 0.6806
Test loss: 0.6566838622093201
Test accuracy: 0.6805555820465088

In [ ]:
y_preds = model.predict(X_test)
y_pred_argmax = [np.argmax(i) for i in y_preds]
print(classification_report(Y_test, y_pred_argmax))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88        32
           1       0.45      0.48      0.47        21
           2       0.61      0.58      0.59        19

    accuracy                           0.68        72
   macro avg       0.65      0.64      0.64        72
weighted avg       0.68      0.68      0.68        72

# Create a betting strategy

Now that we have an accurate model let's see if we can make it as profitable as possible.

Our confusion matrix looks good. I mainly wanted to check the performance for draws as these are difficult to predict, the results are ok.

We will now use the for-loop below to see how much we would have won had we bet.

In [ ]:
def get_team_names(row):
  ht = ""
  at = ""
  for key in row.keys():
    if key.startswith("HomeTeam") and row[key].item() == True:
      ht = key.split("_")[1]
    if key.startswith("AwayTeam") and row[key].item() == True:
      at = key.split("_")[1]
  return ht, at

def get_preds(pred):
  if pred == 0:
    return 'H'
  elif pred == 1:
    return 'D'
  return 'A'
  
funds = 100
wager = 10
favourites = 0
no_bets = 0
min_diff = 0.03

y_preds = model.predict(X_test)
pred_dict = {
    "HomeTeam":[],
    "AwayTeam":[],
    "prediction":[],
    "actual":[],
    "favourite":[],
    "proba_H_(%)":[],
    "proba_D_(%)":[],
    "proba_A_(%)":[],
    "B365H":[],
    "B365A":[],
    "B365D":[],
    "funds": [],
}


  
for i in range(len(X_test)):
    prediction = np.argmax(y_preds[i])
    # print('\nPrediction', prediction)
    # print('Actual', Y_test[i])
    # print('Favourite', np.argmin([testing_data['B365H'][i], testing_data['B365D'][i], 
    #                               testing_data['B365A'][i]]))
    # print('Prediction proba', y_preds[i])
    # print('Home, Draw and Away odds', testing_data['B365H'][i],       
    #       testing_data['B365D'][i], testing_data['B365A'][i])
    pred_dict["prediction"].append(get_preds(prediction))
    pred_dict["actual"].append(get_preds(Y_test[i]))
    pred_dict["favourite"].append(get_preds(np.argmin([testing_data['B365H'][i], testing_data['B365D'][i], 
                                  testing_data['B365A'][i]])))
    pred_dict["proba_H_(%)"].append(y_preds[i][0] * 100)
    pred_dict["proba_D_(%)"].append(y_preds[i][1] * 100)
    pred_dict["proba_A_(%)"].append(y_preds[i][2] * 100)

    pred_dict["B365H"].append(testing_data['B365H'][i])
    pred_dict["B365A"].append(testing_data['B365A'][i])
    pred_dict["B365D"].append(testing_data['B365D'][i])
    teams = get_team_names(testing_data.iloc[[i]])
    pred_dict['HomeTeam'].append(teams[0])
    pred_dict['AwayTeam'].append(teams[1])

    if prediction == 0:
        odds_diff = y_preds[i][prediction] - (1/testing_data['B365H'][i])
        if odds_diff > min_diff:
            if prediction == np.argmin([testing_data['B365H'][i], testing_data['B365D'][i], 
                                  testing_data['B365A'][i]]):
                favourites +=1
                
            if  prediction == Y_test[i]:
                funds += (wager * testing_data['B365H'][i]) - wager
            else:
                funds -= wager
        else:
            no_bets +=1
            
    elif prediction == 1:
        odds_diff = y_preds[i][prediction] - (1/testing_data['B365D'][i])
        if odds_diff > min_diff:
            if prediction == np.argmin([testing_data['B365H'][i], testing_data['B365D'][i], 
                                  testing_data['B365A'][i]]):
                favourites +=1
            if  prediction == Y_test[i]:
                funds +=( wager * testing_data['B365D'][i]) - wager
            else:
                funds -= wager
        else:
            no_bets +=1
    else:
        odds_diff = y_preds[i][prediction] - (1/testing_data['B365A'][i])
        if odds_diff >  min_diff:
            if prediction == np.argmin([testing_data['B365H'][i], testing_data['B365D'][i], 
                                  testing_data['B365A'][i]]):
                favourites +=1
            if  prediction == Y_test[i]:
                funds += (wager * testing_data['B365A'][i]) - wager
            else:
                funds -= wager
        else:
            no_bets +=1
   
    #print('Funds', funds)
    pred_dict["funds"].append(funds)

pred_df = pd.DataFrame(pred_dict)
print(f'Betted on favourite {favourites} times out of {len(X_test)} matches.')
print(f'No bet placed {no_bets} times')
pred_df

Betted on favourite 36 times out of 72 matches.
No bet placed 2 times

,HomeTeam,AwayTeam,prediction,actual,favourite,proba_H_(%),proba_D_(%),proba_A_(%),B365H,B365A,B365D,funds
0,Espanol,Girona,A,A,H,0.196575,1.471145,98.332280,1.66,5.75,3.60,147.5
1,Valencia,Real Madrid,D,H,A,43.198767,55.585599,1.215629,3.30,2.15,3.60,137.5
2,Betis,Ath Bilbao,H,D,H,60.617477,32.851920,6.530613,2.14,3.60,3.30,127.5
3,Espanol,Getafe,A,D,H,3.028898,40.243441,56.727666,2.40,3.20,3.10,117.5
4,Betis,Villarreal,H,H,H,56.977302,34.507126,8.515571,2.20,3.30,3.40,129.5
...,...,...,...,...,...,...,...,...,...,...,...,...
67,Valladolid,Villarreal,A,D,A,10.828602,31.915721,57.255679,2.90,2.40,3.30,640.7
68,Sociedad,Barcelona,D,A,A,21.670200,69.771916,8.557896,7.00,1.40,5.25,630.7
69,Eibar,Levante,A,D,H,9.340977,10.148457,80.510569,1.75,4.50,3.80,620.7
70,Leganes,Valencia,D,D,A,0.958029,63.131583,35.910383,2.80,2.70,3.10,641.7
71,Betis,Barcelona,A,A,A,0.024691,3.003021,96.972287,7.00,1.40,5.00,645.7

In [ ]:
import os
import pandas as pd
#from scrapers import *
from keras.models import load_model
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

# Predict upcoming games

To predict upcoming games we will need to:
1. Scrape upcoming fixtures with odds
2. Concatentate these onto avg. results so far for the previous seson

In [ ]:
try:
    upcoming_data = pd.concat([pd.read_csv('https://www.football-data.co.uk/fixtures.csv')])
except:
    upcoming_data = pd.concat([pd.read_csv('https://www.football-data.co.uk/fixtures.csv', encoding="unicode_escape")])
    upcoming_data.Date = pd.to_datetime(upcoming_data.Date)
fixtures = upcoming_data[upcoming_data['Div'] == 'SP1'] #league variable 
fixtures.dropna(axis=1, inplace=True)
fixtures.head()

,Div,Date,Time,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,...,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA
30,SP1,20/05/2022,20:00,Real Madrid,Betis,1.65,4.50,4.33,1.68,4.33,...,2.96,-0.75,1.87,2.03,1.88,2.02,1.89,2.08,1.85,2.02
31,SP1,20/05/2022,20:00,Vallecano,Levante,1.85,4.00,3.80,1.88,3.80,...,2.44,-0.50,1.88,2.02,1.89,2.01,1.90,2.04,1.88,2.00
32,SP1,21/05/2022,16:30,Valencia,Celta,2.75,3.30,2.62,2.75,3.30,...,1.80,0.00,2.00,1.90,1.98,1.93,2.10,1.93,1.98,1.89
33,SP1,22/05/2022,16:30,Elche,Getafe,3.10,2.87,2.62,3.00,2.95,...,1.58,0.00,2.11,1.79,2.10,1.83,2.17,1.84,2.10,1.79
34,SP1,22/05/2022,19:00,Alaves,Cadiz,4.20,3.70,1.83,4.10,3.70,...,1.91,0.50,2.04,1.86,2.00,1.91,2.09,1.91,2.00,1.87

In [ ]:
fixtures.drop(fixtures.columns.difference(['HomeTeam', 'AwayTeam', 'B365H', 'B365A', 'B365D']), axis=1, inplace=True)
fixtures.head()

       HomeTeam AwayTeam  B365H  B365D  B365A
30  Real Madrid    Betis   1.65   4.50   4.33
31    Vallecano  Levante   1.85   4.00   3.80
32     Valencia    Celta   2.75   3.30   2.62
33        Elche   Getafe   3.10   2.87   2.62
34       Alaves    Cadiz   4.20   3.70   1.83

# Adding previous stats to upcoming_data

In [ ]:
for i, row in fixtures.iterrows():
  team_pair = "{}_{}".format(row['HomeTeam'], row['AwayTeam'])
  if team_pair in mean_data.keys():
    data = mean_data[team_pair]
    for key in data.keys():
      fixtures.loc[df.index[i], key] = mean_data[team_pair][key]
  else:
    print("dropping {} - {} team pair. Since previous data not available".format(row['HomeTeam'], row['AwayTeam']))
    fixtures.drop(index=i, axis=0, inplace=True)
fixtures.dropna(axis=0, inplace=True)

dropping Elche - Getafe team pair. Since previous data not available
dropping Alaves - Cadiz team pair. Since previous data not available
dropping Granada - Espanol team pair. Since previous data not available
dropping Osasuna - Mallorca team pair. Since previous data not available

# One hot encoding upcoming data

In [ ]:
fixtures = encode_and_bind(fixtures, ['HomeTeam', 'AwayTeam'])
fixtures

,B365H,B365D,B365A,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,f_goalsForHome,f_halfTimeGoalsAgainstHome,...,HomeTeam_Sevilla,HomeTeam_Sociedad,HomeTeam_Valencia,HomeTeam_Vallecano,AwayTeam_Ath Bilbao,AwayTeam_Ath Madrid,AwayTeam_Betis,AwayTeam_Celta,AwayTeam_Levante,AwayTeam_Villarreal
30,1.65,4.5,4.33,4.132508,5.980259,14.753053,11.798190,1.201641,1.703145,0.642419,...,False,False,False,False,False,False,True,False,False,False
31,1.85,4.0,3.80,4.316547,5.057429,13.330380,14.724644,1.883838,0.906150,0.887331,...,False,False,False,True,False,False,False,False,True,False
32,2.75,3.3,2.62,6.155230,5.991236,13.096246,13.310292,0.967386,0.583687,0.583687,...,False,False,True,False,False,False,False,True,False,False
37,2.10,4.0,3.00,3.491233,5.966704,15.471397,10.200624,1.536420,2.665738,0.697657,...,False,False,False,False,False,False,False,False,False,True
38,2.50,3.3,2.87,4.524394,6.053360,13.247928,13.999809,1.331749,1.560783,0.643754,...,True,False,False,False,True,False,False,False,False,False
39,2.62,3.3,2.70,4.505557,5.019414,15.833541,13.030116,0.906787,1.189143,0.609045,...,False,True,False,False,False,True,False,False,False,False

# Filling missing team inputs

In [ ]:
for i in all_cols:
  if i not in fixtures.columns:
    fixtures[i] = False
fixtures.columns

Index(['B365H', 'B365D', 'B365A', 'f_cornersAgainstHome', 'f_cornersForHome',
       'f_freesAgainstHome', 'f_freesForHome', 'f_goalsAgainstHome',
       'f_goalsForHome', 'f_halfTimeGoalsAgainstHome',
       'f_halfTimeGoalsForHome', 'f_redsAgainstHome', 'f_redsForHome',
       'f_shotsAgainstHome', 'f_shotsForHome', 'f_shotsOnTargetAgainstHome',
       'f_shotsOnTargetForHome', 'f_cornersAgainstAway', 'f_cornersForAway',
       'f_freesAgainstAway', 'f_freesForAway', 'f_goalsAgainstAway',
       'f_goalsForAway', 'f_halfTimeGoalsAgainstAway',
       'f_halfTimeGoalsForAway', 'f_redsAgainstAway', 'f_redsForAway',
       'f_shotsAgainstAway', 'f_shotsForAway', 'f_shotsOnTargetAgainstAway',
       'f_shotsOnTargetForAway', 'ATP', 'FTAG', 'FTHG', 'HTP',
       'HomeTeam_Barcelona', 'HomeTeam_Real Madrid', 'HomeTeam_Sevilla',
       'HomeTeam_Sociedad', 'HomeTeam_Valencia', 'HomeTeam_Vallecano',
       'AwayTeam_Ath Bilbao', 'AwayTeam_Ath Madrid', 'AwayTeam_Betis',
       'AwayTeam_Celta', 'AwayTeam_Levante', 'AwayTeam_Villarreal',
       'HomeTeam_Alaves', 'HomeTeam_Ath Bilbao', 'HomeTeam_Ath Madrid',
       'HomeTeam_Betis', 'HomeTeam_Celta', 'HomeTeam_Eibar',
       'HomeTeam_Espanol', 'HomeTeam_Getafe', 'HomeTeam_Girona',
       'HomeTeam_Huesca', 'HomeTeam_Leganes', 'HomeTeam_Levante',
       'HomeTeam_Valladolid', 'HomeTeam_Villarreal', 'AwayTeam_Alaves',
       'AwayTeam_Barcelona', 'AwayTeam_Eibar', 'AwayTeam_Espanol',
       'AwayTeam_Getafe', 'AwayTeam_Girona', 'AwayTeam_Huesca',
       'AwayTeam_Leganes', 'AwayTeam_Real Madrid', 'AwayTeam_Sevilla',
       'AwayTeam_Sociedad', 'AwayTeam_Valencia', 'AwayTeam_Valladolid',
       'AwayTeam_Vallecano'],
      dtype='object')

# Predicting Upcoming (run until here)

In [ ]:
X_test = fixtures.to_numpy()
X_test = scaler.fit_transform(X_test)
y_preds = model.predict(X_test)

In [ ]:
def get_team_names(row):
  ht = ""
  at = ""
  for key in row.keys():
    if key.startswith("HomeTeam") and row[key].item() == True:
      ht = key.split("_")[1]
    if key.startswith("AwayTeam") and row[key].item() == True:
      at = key.split("_")[1]
  return ht, at

def get_preds(pred):
  if pred == 0:
    return 'H'
  elif pred == 1:
    return 'D'
  return 'A'

testing_data = fixtures
pred_dict = {
    "HomeTeam":[],
    "AwayTeam":[],
    "prediction":[],
    "proba_H_(%)":[],
    "proba_D_(%)":[],
    "proba_A_(%)":[],
    "B365H":[],
    "B365A":[],
    "B365D":[],
}


  
for i in range(len(X_test)):
    prediction = np.argmax(y_preds[i])
    pred_dict["prediction"].append(get_preds(prediction))
    pred_dict["proba_H_(%)"].append(y_preds[i][0] * 100)
    pred_dict["proba_D_(%)"].append(y_preds[i][1] * 100)
    pred_dict["proba_A_(%)"].append(y_preds[i][2] * 100)
    pred_dict["B365H"].append(testing_data['B365H'].iloc[i])
    pred_dict["B365A"].append(testing_data['B365A'].iloc[i])
    pred_dict["B365D"].append(testing_data['B365D'].iloc[i])
    teams = get_team_names(testing_data.iloc[[i]])
    pred_dict['HomeTeam'].append(teams[0])
    pred_dict['AwayTeam'].append(teams[1])
    
pred_df = pd.DataFrame(pred_dict)
print(f'Betted on favourite {favourites} times out of {len(X_test)} matches.')
print(f'No bet placed {no_bets} times')
pred_df # for leagues concatenate

Betted on favourite 36 times out of 6 matches.
No bet placed 2 times

,HomeTeam,AwayTeam,prediction,proba_H_(%),proba_D_(%),proba_A_(%),B365H,B365A,B365D
0,Real Madrid,Betis,A,0.159143,2.760040,97.080821,1.65,4.33,4.5
1,Vallecano,Levante,H,67.548293,31.806952,0.644759,1.85,3.80,4.0
2,Valencia,Celta,D,14.201985,56.151652,29.646355,2.75,2.62,3.3
3,Barcelona,Villarreal,H,99.358833,0.638401,0.002758,2.10,3.00,4.0
4,Sevilla,Ath Bilbao,H,99.843067,0.156106,0.000822,2.50,2.87,3.3
5,Sociedad,Ath Madrid,A,0.003578,3.674710,96.321714,2.62,2.70,3.3